$white: #fff;
$black: #000;

$violet-primary: #5956E9;
$violet-light: #DCDEFE;

$gray-dark: #252b42;
$gray-primary: #737373;
$gray-secondary: #868686;

$gradient: linear-gradient(72.77deg, #EDEEF6 11.72%, rgba(237, 238, 246, 0) 98.52%);