.heading {
    font-weight: bold;
    margin: 15px 0;

    &--1 {
        font-size: 40px;
        line-height: 47px;

        @include large-up {
            font-size: $font-size-1;
            line-height: 61px;
        }
    }

    &--2 {
        font-size: $font-size-3;
        line-height: $line-height-md;
        
        @include large-up {
            font-size: $font-size-2;
            line-height: $line-height-lg;
        }
    }

    &--3 {
        font-size: 26px;

        @include large-up {
            font-size: $font-size-3;
        }
    }
}


.label {
    display: block;
    margin-bottom: 30px;
    font-size: $font-size-4;
    color: $violet-primary;
    font-weight: $font-weight-bold;
    line-height: 36px;
    text-align: center;

    @include medium-up {
        text-align: start;
        margin-bottom: 15px;
    }
}