.u-display-flex {
    display: flex;
}
.u-justify-center {
    justify-content: center;
}
.u-justify-start {
    justify-content: flex-start;
}
.u-justify-end {
    justify-content: flex-end;
}
.u-justify-between {
    justify-content: space-between;
}
.u-align-start {
    align-items: flex-start;
}
.u-align-end {
    align-items: flex-end;
}
.u-align-center {
    align-items: center;
}

.u-text-center {
    text-align: center;
}
.u-font-bold {
    font-weight: $font-weight-bold;
}
.u-cursor-pointer {
    cursor: pointer;
}


.u-m-auto {
    margin: 0 auto;
}

$sizes:(
    "5": $grid-base * .5, 
    "10": $grid-base, 
    "15": $grid-base * 1.5);

@each $name, $size in $sizes {
    .u-mt-#{$name} {
        margin-top: $size;
        }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 16, 61, 0.84);
}


