@mixin small-up {
    @media (min-width: #{$bp-small}) {
        @content
    }
}

@mixin medium-up {
    @media (min-width: #{$bp-medium}) {
        @content
    }
}

@mixin large-up {
    @media (min-width: #{$bp-large}) {
        @content
    }
}

@mixin paragraph-desktop {
    font-size: $font-size-4;
    line-height: $line-height-md;
}

@mixin paragraph-mobile {
    font-size: $font-size-5;
    line-height: 22.5px;
}